@import "main.css";
@import "variables.css";
@import "header.css";
@import "footer.css";
@import "vendors/normalize.css";
@import "fonts.css";
@import "form.css";

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    display: grid;
    place-content: center;
    
}

.header__menuBtn {
    position: relative;
    z-index: 10;
    border: none;
    padding: none;
    margin: none;
    background: none;
    left: 35%;
}
  

.noscroll body {
overflow: hidden;
}

.menu_image {
    max-width: 60%;
}