@import "main.css";
@import "variables.css";
@import "header.css";
@import "footer.css";
@import "vendors/normalize.css";
@import "fonts.css";

.menu {
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    display: grid;
    place-content: center;

}

.header__menuBtn {
    position: relative;
    z-index: 10;
    border: none;
    background: none;
}
  
.noscroll,
.noscroll body {
overflow: hidden;
}

.menu_image {
    margin-left: 250%;
    width: 50%;
}